.icon_prefix2{
    height: 500px;
    margin-bottom: 100px;
  }

#icon_prefix2{
    min-height: 10rem;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 44px;
    padding: 10px;
}

#contactBoton{
    margin-left: 50%;
    margin-bottom: 50px;
}

#header{
    margin-top: 40px;
}

.alert-success{
    margin-top: 60px;
    font-size: 23px;
    color: #4cc14c;
    font-weight: bold;
}
