#colCard {
  width: 28%;
  margin-left: auto;
  right: auto;
}

#cardDeleteBD {
  width: 86%;
  height: 100%;
  min-height: 0rem;
}

#cardDeleteUP {
  width: 86%;
  height: 100%;
  min-height: 0rem;
}

#iconSearchFormAdmin {
  margin-top: 19px;
  margin-left: -10px;
  color: gray;
}

#formimputSearch {
  margin-bottom: 60px;
}

#formProduct {
  margin-top: 0%;
}

#iconoDeleteUP {
  position: absolute;
}

#imageUP {
  min-height: 0px;
}

#imageDB {
  min-height: 0px;
}
