.a {
  color: aliceblue;
}
#footerT {
}

#contFooter {
  width: 100%;
}

.SocialIcon {
}

#wpFooter {
  margin-top: -13px;
  margin-bottom: -15px;
  margin-left: -21px;
}

#iconFooter {
  margin-left: inherit;
}
