.a {
  color: aliceblue;
}
#footerT {
}

#contFooter {
  width: 100%;
}

#wpFooter {
  margin-top: -13px;
  margin-bottom: -15px;
  margin-left: -21px;
}

#iconFooter {
  margin-left: 100px;
}

#linkList {
  color: aliceblue !important;
}

.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #ee6e73;
  min-height: 28rem;
}
