.row .col.s8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
  margin-top: 82px;
}
#butonSubmit {
  margin-top: 5rem !important;
  margin-left: 33%;
}
.btn,
.btn-large,
.btn-small {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  margin: 4px;
}

#buttonUploadImages {
  background-color: #ee6e73;
}

#buttonUploadBanner {
  background-color: #ee6e73;
}
