.img {
  height: 100% !important;
  width: 100% !important;
  background-size: auto;
  background-position: right;
  min-width: 100% !important;
  min-height: 100% !important;
}
.slider .slides li {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white !important;
}

.slider .slides li .caption {
  color: lightslategray !important;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  opacity: 0;
}

.productos {
  font-size: 2.64rem;
  line-height: 110%;
  margin: 2.093333rem 0 1.656rem 0;
  text-align: center;
  color: blueviolet;
  text-decoration: underline;
}
