.NavBar {
  background-color: #ee6e73;
}

#inputSearch {
  margin-top: 40px;
}

#imgLogo {
  width: 46%;
}

#iconSearch {
  margin-top: 50px;
  color: antiquewhite;
}
#iconCart {
  margin-top: 50px;
  color: antiquewhite;
  margin-left: -64px;
}

.row .col {
  margin-left: 7%;
}

#cantidadProductos {
  margin-top: 44px;
  font-size: x-large;
  margin-left: -27px;
  color: aliceblue;
}

#botonSesion {
  background-color: #fff !important;
  width: 108%;
  height: auto;
  margin-top: 35%;
}

#colBotonSesion {
  width: 10%;
  margin-left: -3%;
}

.btn,
.btn-large,
.btn-small {
  text-decoration: none;
  color: #ee6e73 !important;
  background-color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  margin: 4px;
}
