#cardContent {
  height: 14rem;
  background-color: antiquewhite;
}

#cardId {
  transition: box-shadow 0.3s;
  width: 334px;
  height: 500px;
  margin: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
}
#cardId:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

#botonAgregarAlCarrito {
  display: block;
  background: #F7AD8F;
  border: none;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s;
  height: 70px;
  width: 100%;
  margin: 4px;
  border-block-color: rgb(216, 208, 208);
}

#botonAgregarAlCarrito:hover {
  background: #9accff;
  color: rgb(3, 3, 3);
  font-size: 19px;
  transition: all 0.5s;
}

#cardImageId {
  background-color: antiquewhite;
}

#cardAction {
  background-color: whitesmoke;
}

#btnDisable {
  display: block;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.2s;
  height: 46px;
  width: 100%;
}
