#cardId {
  min-height: 46rem !important;
}

#imgcorreo {
  height: 81px;
  border-radius: 19%;
  max-height: 81;
}

#imagenEmpresa {
  width: 8%;
  margin-bottom: -12px;
  margin-left: 4%;
}

#mypaginacion {
  margin-bottom: 7%;
}
