#imgCart {
  width: 40%;
}

#tdCart {
  width: 25%;
}

#inptCartCant {
  width: 20%;
  text-align: center;
}

#noHayElementos {
  font-size: 6rem;
  margin-top: 4rem;
  margin-left: 13%;
  min-height: 30rem;
}
