#colCard {
  width: 28%;
  margin-left: auto;
  right: auto;
}

#cardDeleteProveedor {
  width: 86%;
  height: 27rem;
}

#cardDeleteProducto {
  width: 86%;
  height: 30rem;
}

#iconSearchFormAdmin {
  margin-top: 19px;
  margin-left: -10px;
  color: gray;
}

#formimputSearch {
  margin-bottom: 60px;
}
